
[Unit]
Description=airplanes-mlat
Wants=network.target
After=network.target

[Service]
User=airplanes
RuntimeDirectory=airplanes-mlat
ExecStart=/usr/local/share/airplanes/airplanes-mlat.sh
Type=simple
Restart=always
RestartSec=30
StartLimitInterval=1
StartLimitBurst=100
SyslogIdentifier=airplanes-mlat
Nice=-1

[Install]
WantedBy=default.target
