
[Unit]
Description=airplanes-feed
Wants=network.target
After=network.target

[Service]
User=airplanes
RuntimeDirectory=airplanes-feed
ExecStart=/usr/local/share/airplanes/airplanes-feed.sh
Type=simple
Restart=always
RestartSec=30
StartLimitInterval=1
StartLimitBurst=100
SyslogIdentifier=airplanes-feed
Nice=-1

[Install]
WantedBy=default.target
